@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lora";
    src: url('../fonts/Lora.ttf') format('truetype');
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans.ttf') format('truetype');
}

.divider {
    background: -webkit-radial-gradient(center center, 50% 50%, rgba(0, 0, 0, .1), transparent);
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: 100% 20px;
    border-top: 1px solid #dedede;
    box-shadow: 0 -1px 0 0 white;
    height: 20px;
}

.icon-rm-mg {
    margin: 0 !important;
}

.overlay {
    position: absolute;
    top: 5.2rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
    .col-flex {
        @apply flex flex-col items-center
    }

    .desc-text {
        @apply font-body font-light text-center text-grokBlack-500
    }

    .responsive-px {
        @apply px-4 mobm:px-6
    }

    .responsive-link-text {
        @apply text-2xs mobm:text-xs md:text-sm
    }

    .responsive-heading {
        @apply text-xl mobm:text-2xl md:text-4xl
    }

    .responsive-subheading {
        @apply text-sm mobm:text-base md:text-2xl
    }

    .responsive-description {
        @apply text-3xs mobm:text-2xs md:text-xs
    }
}