@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans.ttf") format("truetype");
}

.divider {
    background: -webkit-radial-gradient(
        center center,
        50% 50%,
        rgba(0, 0, 0, 0.1),
        transparent
    );
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: 100% 20px;
    border-top: 1px solid #dedede;
    box-shadow: 0 -1px 0 0 white;
    height: 20px;
}

.icon-rm-mg {
    margin: 0 !important;
}

.overlay {
    position: fixed;
    top: 5.8rem;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
    .col-flex {
        @apply flex flex-col items-center;
    }

    .list-visible {
        @apply flex;
    }

    .desc-text {
        @apply font-body text-grokBlack-500 font-light;
    }

    .responsive-px {
        @apply mobm:px-6 px-4 lg:px-10 xl:px-16;
    }

    .responsive-link-text {
        @apply text-2xs mobm:text-xs md:text-sm;
    }

    .responsive-heading {
        @apply mobm:text-3xl text-xl md:text-4xl lg:text-5xl xl:text-6xl;
    }

    .responsive-subheading {
        @apply mobm:text-base text-sm md:text-2xl lg:text-3xl;
    }

    .responsive-description {
        @apply text-3xs mobm:text-2xs md:text-xs lg:text-lg;
    }

    .responsive-captions {
        @apply text-xs md:text-base lg:text-xl;
    }

    .hover-enlarge {
        @apply text-sm md:text-lg lg:text-2xl;
    }

    .transition-enlarge {
        transition: font-size 300ms ease;
    }
}
