@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora.ttf") format("truetype");
}

@font-face {
    font-family: "Bauhaus";
    src: url("../fonts/BauhausRegular.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirNext";
    font-weight: 300;
    src: url("../fonts/AvenirNextLTPro-UltLt.otf") format("truetype");
}

@font-face {
    font-family: "AvenirNext";
    font-weight: 400;
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("truetype");
}

@font-face {
    font-family: "AvenirNext";
    font-weight: 700;
    src: url("../fonts/AvenirNextLTPro-Bold.otf") format("truetype");
}

.main-font{
    font-family: "Bauhaus";
}

.divider {
    background: -webkit-radial-gradient(
        center center,
        50% 50%,
        rgba(0, 0, 0, 0.1),
        transparent
    );
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: 100% 20px;
    border-top: 1px solid #dedede;
    box-shadow: 0 -1px 0 0 white;
    height: 20px;
}

.icon-rm-mg {
    margin: 0 !important;
}

.overlay {
    position: fixed;
    top: 5rem;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
    .col-flex {
        @apply flex flex-col items-center;
    }

    .list-visible {
        @apply flex;
    }

    .desc-text {
        @apply font-body text-grokBlack-500;
    }

    .responsive-px {
        @apply mobm:px-6 px-4 lg:px-10 xl:px-16;
    }

    .responsive-link-text {
        @apply text-2xs mobm:text-xs md:text-sm;
    }

    .responsive-heading {
        @apply mobm:text-3xl text-xl md:text-4xl lg:text-5xl xl:text-6xl;
    }

    .responsive-subheading {
        @apply mobm:text-base text-sm md:text-2xl lg:text-3xl;
    }

    .responsive-description {
        @apply text-3xs mobm:text-2xs md:text-xs lg:text-lg;
    }

    .responsive-captions {
        @apply text-xs md:text-base lg:text-xl;
    }

    .hover-enlarge {
        @apply text-sm md:text-lg lg:text-2xl;
    }

    .transition-enlarge {
        transition: font-size 300ms ease;
    }
}